{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}

    {% assign t = template | split: '.' | first %}
    
    <div class="page-width_ w-full">
      <nav class="breadcrumbs w-full text-[13px] md:text-[14px] font-medium" role="navigation" aria-label="breadcrumbs">
        <ol class="flex flex-wrap items-center_ space-x-2">
          <li>
            <a href="/" title="Home" class="text-[#868686] hover:text-gray-600">HOME</a>
          </li>
          <li class="text-black font-medium"> > </li>
  
          {% case t %}
          {% when 'page' %}
            <li class="text-black font-medium">
              <a href="{{ page.url }}" aria-current="page">{{ page.title | upcase }}</a>
            </li>
  
          {% when 'product' %}
            {% if collection.url %}
              <li>
                <a href="{{ collection.url }}" class="text-[#868686] hover:text-gray-600">{{ collection.title | upcase }}</a>
              </li>
              <li class="text-black font-medium"> > </li>
            {% endif %}
            <li class="text-black font-medium">
              <a href="{{ product.url }}" aria-current="page">{{ product.title | upcase }}</a>
            </li>
  
          {% when 'collection' and collection.handle %}
            {% if current_tags %}
              <li>
                <a href="{{ collection.url }}" class="text-[#868686] hover:text-gray-600">{{ collection.title | upcase }}</a>
              </li>
              <li class="text-black font-medium"> > </li>
              <li class="text-black font-medium">
                {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+" }}{% endcapture %}
                <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " | upcase }}</a>
              </li>
            {% else %}
              <li class="text-black font-medium">
                <a href="{{ collection.url }}" aria-current="page">{{ collection.title | upcase }}</a>
              </li>
            {% endif %}
  
          {% when 'blog' %}
            {% if current_tags %}
              <li>
                <a href="{{ blog.url }}" class="text-[#868686] hover:text-gray-600">{{ blog.title | upcase }}</a>
              </li>
              <li class="text-black font-medium"> > </li>
              <li class="text-black font-medium">
                {% capture tag_url %}{{ blog.url }}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
                <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " | upcase }}</a>
              </li>
            {% else %}
              <li class="text-black font-medium">
                <a href="{{ blog.url }}" aria-current="page">{{ blog.title | upcase }}</a>
              </li>
            {% endif %}
  
          {% when 'article' %}
            <li>
              <a href="{{ blog.url }}" class="text-[#868686] hover:text-gray-600">{{ blog.title | upcase }}</a>
            </li>
            <li class="text-black font-medium"> > </li>
            <li class="text-black font-medium">
              <a href="{{ article.url }}" aria-current="page">{{ article.title | upcase }}</a>
            </li>
  
          {% else %}
            <li class="text-black font-medium">
              <a href="{{ request.path }}" aria-current="page">{{ page_title | upcase }}</a>
            </li>
  
          {% endcase %}
        </ol>
      </nav>
    </div>
  
  {% endunless %}
  