<div class="flex flex-col h-full {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <a class="flex flex-col h-full" href="{{ product.url }}">
    <img class="rounded-[16px] mb-[16px] md:mb-[24px] aspect-[1/1]" src="{{ product.featured_image |  img_url: 'master' }}" alt="{{ product.title }}">

    <div class="prod--card flex flex-col flex-grow justify-between">
        <div>
            <h4 class="font-chillax-medium text-[13px] md:text-[18px] mb-[8px]">
                {{ product.title }}
            </h4>
            <p class="text-green font-chillax-medium text-[13px] md:text-[18px] mb-[12px]">
                {{ product.price |  money_with_currency }}
            </p>
        </div>
        <button class="btn btn-secondary w-fit">
            Quick View
        </button>
    </div>
    </a>
</div>