

<footer id="mmh--footer" class="rounded-t-[16px]" style="background-color: {{ section.settings.background }};">
  <div class="section-wrapper py-[24px] md:py-[60px] px-[28px] md:px-[60px]"> 
    <div class="flex flex-col md:flex-row gap-[16px] justify-between items-center mb-[40px] md:mb-[76px]">
      <img class="w-[100px] md:w-[150px]" src="{{ section.settings.logo |  img_url: 'master' }}" alt="Make Me Hero">
      <p class="font-chillax-medium text-[14px] md:text-[18px] text-center md:text-right px-[30px] md:px-0">
        {{ section.settings.subtext }}
      </p>
    </div>

    {% comment %} Quick Links {% endcomment %}
    <div class="flex flex-col md:flex-row justify-between mb-[32px] gap-[24px] md:gap-[64px]">
      <div class="flex flex-col md:flex-row gap-[32px] md:gap-[64px]">
        {% for block in section.blocks %}
          {% if block.type == 'link_list' %}
            <div class="relative">
              {% unless forloop.last %}
                <div class="absolute bg-[#B12D06] w-full h-[1px] bottom-[-12px] md:hidden">

                </div>
                <div class="absolute hidden desktop-block md:!block h-full w-[0.5px] bg-[#FFFFFF] right-[-28px]">

                </div>

              {% endunless %}
              <h4 class="text-white uppercase font-chillax-medium text-[14px] md:text-[18px] mb-[12px] md:mb-[16px]">
                {{ block.settings.heading }}
              </h4>
              <ul>
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a
                      href="{{ link.url }}"
                      class="text-[14px] font-chillax-medium uppercase mb-[8px] md:mb-[12px] block"
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>


      {% comment %} Social Links  {% endcomment %}
      <div>
        <h4 class="uppercase font-chillax-medium text-[16px] xl:text-[18px] mb-[16px]">
          Connect
        </h4>
        <div class="flex gap-[14px]">
          <a href="">
            <img src="https://cdn.shopify.com/s/files/1/0500/0724/4958/files/mmh--instagram.svg?v=1740925604" alt="Instagram">
          </a>
          <a href="">
            <img src="https://cdn.shopify.com/s/files/1/0500/0724/4958/files/mmh--facebook.svg?v=1740925604" alt="Fecebook">
          </a>
        </div>
      </div>
      
    
    </div>



    <div class="flex flex-col items-center">
      {% comment %} Footer Graphic {% endcomment %}
       <img class="mb-[16px]" src="https://cdn.shopify.com/s/files/1/0500/0724/4958/files/mmh--footer-graphic.svg?v=1740925739" alt="Footer">
       <p class="text-white font-chillax-medium text-center text-[12px] md:text-[14px] uppercase">© <script>document.write(new Date().getFullYear());</script>, MAKE ME HERO. All rights reserved.</p>

    </div>

  </div>
</footer>


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
        "type": "color_background",
        "id": "background",
        "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Footer Subtext",
      "default": "Turn your little one into the hero of their story."
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
