<section id="mmh--explore-categories" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper py-[28px] md:py-[60px] px-[28px] md:px-[60px]"> 
        <h2 class="font-chubbo-medium text-center text-[28px] md:text-[48px] mb-[32px] md:mb-[40px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.header }}
        </h2>
        <div class="custom--grid grid-cols-2 md:grid-cols-4 gap-[20px] md:gap-[40px] sm:max-w-[650px] md:max-w-full mx-auto">
            {% for block in section.blocks %}
                <div class="rounded-[18px] overflow-hidden {% if forloop.last %} col-span-2 {% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <a href="{{ block.settings.url }}">
                        <img class="w-full h-full object-cover" src="{{ block.settings.image |  img_url: 'master' }}" alt="{{ block.settings.title }}">
                    </a>
                </div>
            {% endfor %}
        </div> 
    </div>
</section>




{% schema %}
    {
        "name": "Home - Explore Categories",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "header",
                "label": "Header",
                "default": "Explore our Categories"
            }
        ],
        "blocks": [
            {
                "name": "category",
                "type": "category",
                "limit": 7,
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Category Image"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "URL"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Home - Explore Categories"
            }
        ]
    }
{% endschema %}