<style>

    .slick--bestsellers .slick-track {
        display: flex !important;
        align-items: stretch !important; /* Ensures all items are the same height */
    }

    .slick--bestsellers .slick-slide {
        height: auto !important;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        margin-right : 20px;
    }

    
</style>
<section id="mmh--bestsellers" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper pt-[56px] pb-[28px] md:py-[82px] pl-[28px] md:px-[60px]">  
        <h2 class="font-chubbo-medium text-[30px] md:text-[48px] mb-[24px] md:mb-[48px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.header }}
        </h2>
        <div class="slick--bestsellers custom--grid grid-cols-2_ md:grid-cols-4 gap-[20px] md:gap-[36px]">
            {% for product in section.settings.collection.products limit:4 %}
                <div class="flex flex-col h-full {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <a class="flex flex-col h-full" href="{{ product.url }}">
                    <img class="rounded-[16px] mb-[16px] md:mb-[24px]" src="{{ product.featured_image |  img_url: 'master' }}" alt="{{ product.title }}">

                    <div class="prod--card flex flex-col flex-grow justify-between">
                        <div>
                            <h4 class="font-chillax-medium text-[13px] md:text-[18px] mb-[8px]">
                                {{ product.title }}
                            </h4>
                            <p class="text-green font-chillax-medium text-[13px] md:text-[18px] mb-[12px]">
                                {{ product.price |  money_with_currency }}
                            </p>
                        </div>
                        <button class="btn btn-secondary w-fit">
                            {{ section.settings.cta }}
                        </button>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<script>


    $(document).ready(function(){
        $('.slick--bestsellers').slick({
            infinite: false,
            centerMode: false,
            speed: 300,
            slidesToShow: 1.5,
            slidesToScroll: 1,
            dots: false,      
            arrows: false,   
            mobileFirst: true,
            responsive: [
                {
                    breakpoint: 750,
                    settings: {
                        slidesToShow: 2.5,
                    }
                },
                {
                    breakpoint: 990,
                    settings: "unslick"
                }
            ]
        });
    });


</script>



{% schema %}
    {
        "name": "Home - Bestsellers",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "header",
                "label": "Header",
                "default": "Bestsellers"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"            
            },
            {
                "type": "text",
                "id": "cta",
                "label": "CTA",
                "default": "Quick View"
            }
            
        ],
        "presets": [
            {
                "name": "Home - Bestsellers"
            }
        ]
    }
{% endschema %}