<section id="mmh--age-category" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper pt-[100px] pb-[52px] px-[60px]">    
        <h3 class="text-center font-chubbo-medium text-[36px] mb-12">
            {{ section.settings.header }}
        </h3>  
        <div class="custom--grid grid-cols-3 gap-6">
            {% for block in section.blocks %}
                <div class="rounded-[14px] px-4 py-12" style="background-image: url({{ block.settings.image |  img_url: 'master' }}); background-size: 100%; background-repeat: no-repeat;">
                    <div class="max-w-2/3 text-black">
                        <h4 class="font-chillax-medium text-[18px] mb-3">
                            {{ block.settings.title }}
                        </h4>
                        <p class="font-playwrite-regular italic text-[25px]">
                            {{ block.settings.age_range }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>  
</section>


{% schema %}
{
    "name": "Age - Categories",
    "settings": [
        {
            "type": "color_background",
            "id": "background",
            "label": "Background Color"
        },
        {
            "type": "textarea",
            "id": "header",
            "label": "Header",
            "default": "Who are you shopping for?"
        }
    ],
    "blocks": [
        {
            "name": "category",
            "type": "category",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Category Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "age_range",
                    "label": "Age Range"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Age - Categories"
        }
    ]
}
{% endschema %}