<section id="mmh--bestsellers" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper py-[82px] px-[60px]">  
        <h2 class="font-chubbo-medium text-[48px] mb-[48px]">
            {{ section.settings.header }}
        </h2>
        <div class="custom--grid grid-cols-4 gap-[36px]">
            {% for product in section.settings.collection.products limit:4 %}
                <div class="flex flex-col h-full">
                    <img class="rounded-[16px] mb-6" src="{{ product.featured_image |  img_url: 'master' }}" alt="{{ product.title }}">

                    <div class="prod--card flex flex-col flex-grow justify-between">
                        <div>
                            <h4 class="font-chillax-medium text-[18px] mb-2">
                                {{ product.title }}
                            </h4>
                            <p class="text-green font-chillax-medium text-[18px] mb-3">
                                {{ product.price |  money_with_currency }}
                            </p>
                        </div>
                        <a href="{{ product.url }}" class="btn btn-secondary w-fit">
                            {{ section.settings.cta }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>



{% schema %}
    {
        "name": "Home - Bestsellers",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "header",
                "label": "Header",
                "default": "Bestsellers"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"            
            },
            {
                "type": "text",
                "id": "cta",
                "label": "CTA",
                "default": "Quick View"
            }
            
        ],
        "presets": [
            {
                "name": "Home - Bestsellers"
            }
        ]
    }
{% endschema %}